body {
    background-image: url("images/Dark_cave.jpg");
    background-size: 100%;
    background-color: azure;
}

#slayerimg {
    width: 10%;
    height: 20%;
    position: absolute;
    bottom: 2.5%;
    right: 2.5%;
    border-style: solid;
    border-width: 1%;
    border-color: azure;
}

#knightmare_goblin {
    width: 20;
    height: 20%;
    position: absolute;
    top: 2.5%;
    left: 2.5%;

}